# Docker
docker/dynamodb/

# Lambda
lambdas/node_modules
lambdas/coverage
lambdas/dist

# Resources (AWS CDK)
resources/node_modules
resources/coverage
resources/cdk.out

# SPA
spa/*.tsbuildinfo
spa/.env
spa/node_modules
spa/dist
