services:
  # DynamoDB Local(起動)
  dynamodb-local:
    image: amazon/dynamodb-local:latest
    container_name: dynamodb-local
    command: "-jar DynamoDBLocal.jar -sharedDb -dbPath ./data"
    ports:
      - "9000:8000"
    volumes:
      - ./docker/dynamodb:/home/dynamodblocal/data
    working_dir: /home/dynamodblocal

  # DynamoDB Local(テーブル作成)
  dynamodb-local-create-table:
    image: amazon/aws-cli:latest
    container_name: dynamodb-local-create-table
    entrypoint: ["/bin/sh", "/scripts/create_table.sh"]
    volumes:
      - ./docker/scripts:/scripts
    environment:
      - AWS_ACCESS_KEY_ID=fakeMyKeyId
      - AWS_SECRET_ACCESS_KEY=fakeSecretAccessKey
    depends_on:
      - dynamodb-local
    restart: "no"

  # [POST] /memo
  create-memo:
    image: public.ecr.aws/lambda/nodejs:24
    command: ["create_memo/index.handler"]
    restart: always
    volumes:
      - ./lambdas/dist:/var/task
    ports:
      - "9001:8080"
    environment:
      - DYNAMODB_ENDPOINT=http://dynamodb-local:8000
      - IS_LOCAL=true
    depends_on:
      dynamodb-local-create-table:
        condition: service_completed_successfully

  # [GET] /memo
  list-memos:
    image: public.ecr.aws/lambda/nodejs:24
    command: ["list_memos/index.handler"]
    restart: always
    volumes:
      - ./lambdas/dist:/var/task
    ports:
      - "9002:8080"
    environment:
      - DYNAMODB_ENDPOINT=http://dynamodb-local:8000
      - IS_LOCAL=true
    depends_on:
      dynamodb-local-create-table:
        condition: service_completed_successfully

  # [GET] /memo/{memoId}
  get-memo:
    image: public.ecr.aws/lambda/nodejs:24
    command: ["get_memo/index.handler"]
    restart: always
    volumes:
      - ./lambdas/dist:/var/task
    ports:
      - "9003:8080"
    environment:
      - DYNAMODB_ENDPOINT=http://dynamodb-local:8000
      - IS_LOCAL=true
    depends_on:
      dynamodb-local-create-table:
        condition: service_completed_successfully

  # [PUT] /memo/{memoId}
  update-memo:
    image: public.ecr.aws/lambda/nodejs:24
    command: ["update_memo/index.handler"]
    restart: always
    volumes:
      - ./lambdas/dist:/var/task
    ports:
      - "9004:8080"
    environment:
      - DYNAMODB_ENDPOINT=http://dynamodb-local:8000
      - IS_LOCAL=true
    depends_on:
      dynamodb-local-create-table:
        condition: service_completed_successfully

  # [DELETE] /memo/{memoId}
  delete-memo:
    image: public.ecr.aws/lambda/nodejs:24
    command: ["delete_memo/index.handler"]
    restart: always
    volumes:
      - ./lambdas/dist:/var/task
    ports:
      - "9005:8080"
    environment:
      - DYNAMODB_ENDPOINT=http://dynamodb-local:8000
      - IS_LOCAL=true
    depends_on:
      dynamodb-local-create-table:
        condition: service_completed_successfully
