name: Build Lambda Functions (Reusable Workflow)

on:
  workflow_call:
    inputs:
      S3_LAMBDA_BUCKET_NAME:
        required: true
        type: string
      S3_LAMBDA_EDGE_BUCKET_NAME:
        required: true
        type: string
    secrets:
      AWS_ARN_IAM_ROLE_GITHUB_ACTIONS:
        required: true

permissions:
  id-token: write # Required for requesting the OIDC JWT
  contents: read # Required for actions/checkout

env:
  NODE_VERSION: "22"

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Node.js ${{ env.NODE_VERSION }} Environment
        uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Install Dependencies
        run: |
          cd lambdas
          npm ci

      - name: Run Unittests with Coverage
        run: |
          cd lambdas
          npm run test

  build:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Node.js ${{ env.NODE_VERSION }} Environment
        uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Install Dependencies
        run: |
          cd lambdas
          npm ci

      - name: Build TypeScript to JavaScript
        run: |
          cd lambdas
          npm run build

      - name: Build Lambda Functions and Layer Codes
        run: |
          cd lambdas/dist
          zip -r ../../create_memo.zip create_memo/index.js create_memo/package.json assets layer/nodejs package.json
          zip -r ../../delete_memo.zip delete_memo/index.js delete_memo/package.json assets layer/nodejs package.json
          zip -r ../../get_memo.zip get_memo/index.js get_memo/package.json assets layer/nodejs package.json
          zip -r ../../list_memos.zip list_memos/index.js list_memos/package.json assets layer/nodejs package.json
          zip -r ../../update_memo.zip update_memo/index.js update_memo/package.json assets layer/nodejs package.json
          zip -r ../../edge_viewer_request.zip edge_viewer_request/index.js edge_viewer_request/package.json assets package.json
          cd layer/nodejs && zip -r ../../../../layer.zip . && cd ../../../../

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: ${{ secrets.AWS_ARN_IAM_ROLE_GITHUB_ACTIONS }}
          aws-region: ap-northeast-1

      - name: Create S3 Bucket if Not Exists
        run: |
          if ! aws s3 ls s3://${{ inputs.S3_LAMBDA_BUCKET_NAME }} > /dev/null 2>&1; then
            aws s3 mb s3://${{ inputs.S3_LAMBDA_BUCKET_NAME }} --region ap-northeast-1
          fi

      - name: Upload Lambda Functions and Layer Artifacts
        run: |
          aws s3 cp create_memo.zip s3://${{ inputs.S3_LAMBDA_BUCKET_NAME }}/create_memo.zip --region ap-northeast-1
          aws s3 cp delete_memo.zip s3://${{ inputs.S3_LAMBDA_BUCKET_NAME }}/delete_memo.zip --region ap-northeast-1
          aws s3 cp get_memo.zip s3://${{ inputs.S3_LAMBDA_BUCKET_NAME }}/get_memo.zip --region ap-northeast-1
          aws s3 cp list_memos.zip s3://${{ inputs.S3_LAMBDA_BUCKET_NAME }}/list_memos.zip --region ap-northeast-1
          aws s3 cp update_memo.zip s3://${{ inputs.S3_LAMBDA_BUCKET_NAME }}/update_memo.zip --region ap-northeast-1
          aws s3 cp layer.zip s3://${{ inputs.S3_LAMBDA_BUCKET_NAME }}/layer.zip --region ap-northeast-1

      - name: Create S3 Bucket for Lambda@Edge if Not Exists
        run: |
          if ! aws s3 ls s3://${{ inputs.S3_LAMBDA_EDGE_BUCKET_NAME }} --region us-east-1 > /dev/null 2>&1; then
            aws s3 mb s3://${{ inputs.S3_LAMBDA_EDGE_BUCKET_NAME }} --region us-east-1
          fi

      - name: Upload Lambda@Edge Artifact to us-east-1
        run: |
          aws s3 cp edge_viewer_request.zip s3://${{ inputs.S3_LAMBDA_EDGE_BUCKET_NAME }}/edge_viewer_request.zip --region us-east-1
