name: Run Tests and Lint in Lambda Functions before Merging Pull Request

on:
  pull_request:
    branches:
      - main
    paths:
      - .github/workflows/test-lint-lambdas.yaml
      - lambdas/**

env:
  NODE_VERSION: "22"

permissions:
  checks: write
  pull-requests: write
  contents: write

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Node.js ${{ env.NODE_VERSION }} Environment
        uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Install Dependencies
        run: |
          cd lambdas
          npm ci

      - name: Run Unittests with Coverage
        run: |
          cd lambdas
          npm run test

  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Node.js ${{ env.NODE_VERSION }} Environment
        uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Install Dependencies
        run: |
          cd lambdas
          npm ci

      - name: Run Lint
        run: |
          cd lambdas
          npm run lint
